.card {
  /* height: 320px; */
  width: 594;
  overflow: hidden;
}

.image_container {
  clip-path: polygon(100% 0, 100% 95%, 13% 95%, 8% 100%, 3% 95%, 0 95%, 0 0);
}

.card_content {
  padding: 0px;
  background-color: white;
  margin-top: -5px; /* Mueve el card_content 5px hacia arriba para superponer la imagen */
}

.card_title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  color: #333333;
}

.card_description {
  font-size: 14px;
  margin: 0;
  color: #4f4f4f;
}
